window {
    background-color: white;
}

label.title {
    font-size: 24px;
    font-weight: bold;
}

label.title--win {
    font-size: 72px;
    font-weight: bold;
    color: green;
}
flowboxchild {
    border: 0;
    background-color: white;
}

.grid-item {
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: black;
    font-size: 16px;
}

.grid-item__content {
    background-color: #ddd;
    font-size: 16px;
    border-radius: 100%;
}

.grid-item--selected .grid-item__content {
    background-color: #6ac9fc;
}


label {
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

.control {
    border-radius: 100%;
    border: 1px solid grey;
    min-width: 48px;
    min-height: 48px;
}

button {
    border: none;
    padding: 4px;
    border-radius: 0;
}

button.flat {
    border: none;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

.grid-item:nth-child(9n + 3) {
    border-right: 2px solid grey;
}

.grid-item:nth-child(9n + 6) {
    border-right: 2px solid grey;
}

.grid-item:nth-child(n+19):nth-child(-n+27),
.grid-item:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid grey;
}

.grid-item:nth-child(9n) {
    border-right: 0;
}

.grid-item:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 0;
}
